application:
  title: "Aplicação desenvolvida por: AmandaPoreto, AndréMelchior e RichardDallaqua"

spring:
  data:
    mongodb:
      uri: ${MONGO_URL:mongodb://root:root@127.0.0.1:27017/db?authSource=admin}
  rabbitmq:
      host: ${RABBIT_HOST:localhost}
      port: 5672
      username: ${RABBIT_USER:teste}
      password: ${RABBIT_PASS:teste}


server:
  port: 5000
  servlet:
    context-path: /lanchonete
